ANTHROPIC_API_KEY=sk-QCHXLbzasfnR3r25ZWzd78d3X9GJaD28yIfJBir43RxUIO5p
ANTHROPIC_URL=https://get.n8n.sale/v1/chat/completions

URL_SUPABASE=https://cthhoasbgjhhurwmvxfo.supabase.co
ANON_KEY_SUPABASE=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN0aGhvYXNiZ2poaHVyd212eGZvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTI3MjM2MiwiZXhwIjoyMDkwODQ4MzYyfQ.ujTCY_dIbDeWg9IZ0e8bH3iYQDynF4TwujwCd_TDHJI
PUBLISH_KEY_SUPABASE=sb_publishable_zGT9Y5ZlnMKakhuUQcKBFw_SCZO5fcP

WEATHER_API=ba6c8c14d182c543b8280dc0e38d8899
WEATHER_URL=https://api.openweathermap.org/data/2.5