# Core & Utilities
python-box
pyYAML>=6.0
types-PyYAML
ensure
joblib
tqdm
requests
pyvi

# Data Science (Ghim Numpy < 2 để tương thích tốt nhất)
numpy<2.0.0
scipy
pandas

# NLP & Computer Vision
albumentations
transformers

# Deep Learning (Bản ổn định cho Windows CPU)
torch==2.2.2
torchvision==0.17.2

# MLOps
mlflow>=2.10.0
dagshub
dvc
dvc-s3

# Visualization & Notebook
matplotlib
seaborn
notebook
awscli

# Web Server
Flask
Flask-Cors

# Local package
-e .